<a href="https://colab.research.google.com/github/karthikeyan-Sivamani/Extracting_entire_twitter_conversation/blob/master/Copy_of_Hello%2C_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img height="60px" src="https://colab.research.google.com/img/colab_favicon.ico" align="left" hspace="20px" vspace="5px">

<h1>Welcome to Colaboratory!</h1>
Colaboratory is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud. See our [FAQ](https://research.google.com/colaboratory/faq.html) for more info.

In [0]:
'''
1) Use Pandas' read_csv function directly on this url to open it as a DataFrame
Display the first few rows
Display  the DataFrame info.
'''
import pandas as pd
df=pd.read_csv('http://www.ldeo.columbia.edu/~rpa/usgs_earthquakes_2014.csv')

print('**********Sample records***********')
print(df.head(2))

print('***************Info abt data*************')
df.info()

'''
2) Re-read the data in such a way that all date columns are identified as dates and the earthquake id is used as the index

Verify that this worked using the head and info functions.
'''
#setting the earthquake id as index
df.set_index('id', inplace=True)
#Changing the date column type
df['time']=pd.to_datetime(df['time'])

print('**************Printing the sample records and df info after making changes****************')
df.info()
df.head(3)

'''
3) Use describe to get the basic statistics of all the columns

Note the highest and lowest magnitude of earthquakes in the databse.
'''
print('***************Basic statistics of all columns*************')
print(df.describe())

print('*******highest and lowest magnitude of earthquakes**********')
print(df['mag'].max())
print(df['mag'].min())

'''
4) Use sort_values to get the top 20 earthquakes by magnitude

Examine the structure of the place column. The country information seems to be in there. How would you get it out?
'''
print('*********top 20 earthquakes by magnitude*********')
print(df['mag'].sort_values(ascending=False).head(20))
print('*************Spliting the place to get the country info************')
place_split=df['place'].str.split(',',n=1)


'''
5) Extract the country using Pandas text data functions

Add it as a new column to the dataframe. (Is it really just country? No, some rows have the name of a US state.)
'''
df['country']=place_split.str[1]
df.country.head()

**********Sample records***********
                      time  latitude  longitude  depth   mag magType  nst  \
0  2014-01-31 23:53:37.000   60.2520  -152.7081   90.2  1.10      ml  NaN
1  2014-01-31 23:48:35.452   37.0703  -115.1309    0.0  1.33      ml  4.0

      gap   dmin     rms net          id                   updated  \
0     NaN    NaN  0.2900  ak  ak11155107  2014-02-05T19:34:41.515Z
1  171.43  0.342  0.0247  nn  nn00436847  2014-02-01T01:35:09.000Z

                               place        type
0  26km S of Redoubt Volcano, Alaska  earthquake
1            32km S of Alamo, Nevada  earthquake
***************Info abt data*************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120108 entries, 0 to 120107
Data columns (total 15 columns):
time         120108 non-null object
latitude     120108 non-null float64
longitude    120108 non-null float64
depth        120107 non-null float64
mag          120065 non-null float64
magType      120065 non-null object
nst          59688 non-null float64
gap          94935 non-null float64
dmin         85682 non-null float64
rms          119716 non-null float64
net          120108 non-null object
id           120108 non-null object
updated      120108 non-null object
place        120108 non-null object
type         120108 non-null object
dtypes: float64(8), object(7)
memory usage: 13.7+ MB
**************Printing the sample records and df info after making changes****************
<class 'pandas.core.frame.DataFrame'>
Index: 120108 entries, ak11155107 to ak11453389
Data columns (total 14 columns):
time         120108 non-null datetime64[ns]
latitude     120108 non-null float64
longitude    120108 non-null float64
depth        120107 non-null float64
mag          120065 non-null float64
magType      120065 non-null object
nst          59688 non-null float64
gap          94935 non-null float64
dmin         85682 non-null float64
rms          119716 non-null float64
net          120108 non-null object
updated      120108 non-null object
place        120108 non-null object
type         120108 non-null object
dtypes: datetime64[ns](1), float64(8), object(5)
memory usage: 13.7+ MB
***************Basic statistics of all columns*************
            latitude      longitude          depth            mag  \
count  120108.000000  120108.000000  120107.000000  120065.000000
mean       38.399579     -99.961402      28.375029       1.793958
std        21.938258      82.996858      62.215416       1.343466
min       -73.462000    -179.998900      -9.900000      -0.970000
25%        34.228917    -147.742025       4.100000       0.820000
50%        38.805300    -120.832000       9.200000       1.400000
75%        53.889500    -116.068100      22.880000       2.400000
max        86.651400     179.998000     697.360000       8.200000

                nst           gap          dmin            rms
count  59688.000000  94935.000000  85682.000000  119716.000000
mean      17.878284    124.048978      0.893198       0.358174
std       14.911369     68.518595      2.903966       0.364046
min        0.000000      9.000000      0.000000       0.000000
25%        8.000000     74.000000      0.020760       0.070000
50%       14.000000    107.000000      0.073670       0.200000
75%       22.000000    155.000000      0.447000       0.590000
max      365.000000    356.400000     64.498000       8.460000
*******highest and lowest magnitude of earthquakes**********
8.2
-0.97
*********top 20 earthquakes by magnitude*********
id
usc000nzvd    8.2
usc000rki5    7.9
usc000p27i    7.7
usc000phx5    7.6
usb000pr89    7.5
usc000piqj    7.4
usb000slwn    7.3
usb000pq41    7.2
usc000sxh8    7.1
usc000pft9    7.1
usc000stdc    7.1
usb000sk6k    7.0
usc000nzwm    6.9
usc000rngj    6.9
usc000rr6a    6.9
usb000ruzk    6.9
usc000rkg5    6.9
usc000mnvj    6.9
usb000rzki    6.9
usb000r2hc    6.9
Name: mag, dtype: float64
*************Spliting the place to get the country info************

id
ak11155107     Alaska
nn00436847     Nevada
ak11151142     Alaska
ak11151135     Alaska
ci37171541     Mexico
Name: country, dtype: object

In [0]:
df1=pd.DataFrame({'A' : []})

df[['mag']]=df1[['A']]
df1.head()


#df['country or not']=df['id'].apply(lambda x: False if x in 'usc' else True)

Empty DataFrame
Columns: [A]
Index: []

## Getting Started
- [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Loading and saving data: Local files, Drive, Sheets, Google Cloud Storage](/notebooks/io.ipynb)
- [Importing libraries and installing dependencies](/notebooks/snippets/importing_libraries.ipynb)
- [Using Google Cloud BigQuery](/notebooks/bigquery.ipynb)
- [Forms](/notebooks/forms.ipynb), [Charts](/notebooks/charts.ipynb), [Markdown](/notebooks/markdown_guide.ipynb), & [Widgets](/notebooks/widgets.ipynb)
- [TensorFlow with GPU](/notebooks/gpu.ipynb)
- [TensorFlow with TPU](/notebooks/tpu.ipynb)
- [Machine Learning Crash Course](https://developers.google.com/machine-learning/crash-course/): [Intro to Pandas](/notebooks/mlcc/intro_to_pandas.ipynb) & [First Steps with TensorFlow](/notebooks/mlcc/first_steps_with_tensor_flow.ipynb)
- [Using Colab with GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

## Highlighted Features
### Seedbank

Looking for Colab notebooks to learn from? Check out [Seedbank](https://tools.google.com/seedbank/), a place to discover interactive machine learning examples.

### TensorFlow execution

Colaboratory allows you to execute TensorFlow code in your browser with a single click. The example below adds two matrices.

$\begin{bmatrix}
  1. & 1. & 1. \\
  1. & 1. & 1. \\
\end{bmatrix} +
\begin{bmatrix}
  1. & 2. & 3. \\
  4. & 5. & 6. \\
\end{bmatrix} =
\begin{bmatrix}
  2. & 3. & 4. \\
  5. & 6. & 7. \\
\end{bmatrix}$

In [0]:
import tensorflow as tf

input1 = tf.ones((2, 3))
input2 = tf.reshape(tf.range(1, 7, dtype=tf.float32), (2, 3))
output = input1 + input2

with tf.Session():
  result = output.eval()
result

### GitHub

For a full discussion of interactions between Colab and GitHub, see [Using Colab with GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb). As a brief summary:

To save a copy of your Colab notebook to Github, select *File → Save a copy to GitHub…*

To load a specific notebook from github, append the github path to http://colab.research.google.com/github/.
For example to load this notebook in Colab: [https://github.com/tensorflow/docs/blob/master/site/en/tutorials/_index.ipynb](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/_index.ipynb) use the following Colab URL: [https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/_index.ipynb](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/_index.ipynb)

To open a github notebook in one click, we recommend installing the [Open in Colab Chrome Extension](https://chrome.google.com/webstore/detail/open-in-colab/iogfkhleblhcpcekbiedikdehleodpjo).

### Visualization

Colaboratory includes widely used libraries like [matplotlib](https://matplotlib.org/), simplifying visualization.

In [0]:
import matplotlib.pyplot as plt
import numpy as np

x = np.arange(20)
y = [x_i + np.random.randn(1) for x_i in x]
a, b = np.polyfit(x, y, 1)
_ = plt.plot(x, y, 'o', np.arange(20), a*np.arange(20)+b, '-')

Want to use a new library?  `pip install` it at the top of the notebook. Then that library can be used anywhere else in the notebook. For recipes to import commonly used libraries, refer to the [importing libraries example notebook](/notebooks/snippets/importing_libraries.ipynb).

In [0]:
!pip install -q matplotlib-venn

from matplotlib_venn import venn2
_ = venn2(subsets = (3, 2, 1))

### Forms

Forms can be used to parameterize code. See the [forms example notebook](/notebooks/forms.ipynb) for more details.

In [0]:
#@title Examples

text = 'value' #@param 
date_input = '2018-03-22' #@param {type:"date"}
number_slider = 0 #@param {type:"slider", min:-1, max:1, step:0.1}
dropdown = '1st option' #@param ["1st option", "2nd option", "3rd option"]

### Local runtime support

Colab  supports connecting to a Jupyter runtime on your local machine. For more information, see our [documentation](https://research.google.com/colaboratory/local-runtimes.html).